.bg-neutro {
    background-color: #fff;
}

.table>:not(:first-child) {
    border-top: none;
}

.table-carrinho th, .table-carrinho td {
    padding: 30px 10px;
}

@media (max-width: 576px) {
    .table-carrinho th, .table-carrinho td {
        padding: 30px 5px;
    }
}